{% extends '../base.njk' %}

{% block content %}
    <div class="prose prose-img:mx-auto lg:prose-img:px-8 xl:prose-img:px-16 prose-img:drop-shadow prose-img:rounded mx-auto">
        {{ content | safe }}
    </div>
{% endblock %}
